.container {
  min-height: 100vh;
  padding: 0;
  height: 100vh;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  width: 500px;
  font-size: 1.5rem;
}

.social {
  width: 100%;
  text-align: right;
  padding-right: 2rem;
  color: #0070f3;
}

.social button {
  margin-top: 0;
}

.listInline {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.listInline li {
  margin-right: 10px;
  font-size: 1.3rem;
  filter: brightness(100%);
  line-height: 1rem;
}

.listInline li:hover {
  filter: brightness(80%);
}

.jobContainer {
  margin-top: 1rem;
  display: block;
}

.jobSlideContainer {
  border: 1px solid #eee;
  border-radius: 5px;
}

.jobSlideContainer section {
  max-width: 650px;
  padding: 1rem;
}

.jobTitle {
  display: flex;
  line-height: 2rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.jobTitle h2 {
  font-size: 1.5rem;
}

.jobDate {
  font-size: 1.25rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

.divider {
  border-top: 1px solid #eee;
  border-left: none;
  border-bottom: none;
  border-right: none;
}
